.easyrealestate-hero {
    position: relative;
    aspect-ratio: 3/2;
    background-size: cover;
    background-position: center;
    border-radius: var(--wp--custom--border-radius--large);
    padding: 1rem;
    overflow: hidden;
    box-shadow: var(--wp--preset--shadow--deep);

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: var(--wp--preset--color--easyrealestate-primary);
        opacity: .2;
    }

    .easyrealestate-hero-content {
        position: relative;
        z-index: 1;
    }
}