

@import './templates/single_garage';

@import './components/hero';
@import './components/features_list';
@import './components/badges';
@import './components/forms';
@import './components/alert';
@import './components/card_listing';
@import './components/slider';

@import '_easyrealestate-footer';

.easyrealestate-container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 1rem;
    margin-top: 6rem;
    margin-bottom: 3rem;

    &.no-top-margin {
        margin-top: 0;
    }
}

@media screen and (min-width: 992px) {
    .easyrealestate-container {
        padding: 0 0rem;
    }
}

.easyrealestate-the-content {
    padding-top: 2rem;
}