

@import './templates/single_garage';

@import './components/hero';
@import './components/features_list';
@import './components/badges';
@import './components/forms';

.easyrealestate-container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 1rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

// @media screen and (min-width: 768px) {
//     .easyrealestate-container {

//     }
// }