.easyrealestate-app-container {
    width: 100%;
    overflow-x: hidden;
    position: relative;

    .easyrealestate-app-content {
        position: relative;
        height: 100dvh;
        display: flex;
        flex-wrap: nowrap;
        transform: translateX(0);
        transition: transform 0.3s ease-in-out;

        &.easyrealestate-app-content-show-list {
            transform: translateX(-100%);
        }

        .easyrealestate-app-map,
        .easyrealestate-app-list {
            min-width: 100%;
            padding: .5rem;
        }

        .easyrealestate-app-map {
            position: relative;

            .map {
                height: 100%;
                width: 100%;
                border-radius: var(--wp--custom--border-radius--large);
                background-size: cover;
                background-position: center;

                .easyrealestate-app-marker-layout {
                    background-color: var(--wp--preset--color--easyrealestate-bg);
                    padding: 1rem;
                    border-radius: var(--wp--custom--border-radius--pill);

                    &.easyrealestate-app-marker-layout-active {
                        background-color: aqua;
                        z-index: 1;
                    }

                    .easyrealestate-app-marker-title {
                        font-weight: 600;
                        font-size: 1.125rem;
                    }
                }
            }

            .easyrealestate-app-map-infobox {
                position: absolute;
                bottom: 4rem;
                left: 50%;
                transform: translateX(-50%) translateY(20px);
                width: 100%;
                max-width: 500px;
                padding: 1rem;
                opacity: 0;
                transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
                pointer-events: none;

                &.easyrealestate-app-map-infobox-visible {
                    opacity: 1;
                    transform: translateX(-50%) translateY(0);
                    pointer-events: auto;
                }

                .easyrealestate-app-map-infobox-content {
                    background-color: var(--wp--preset--color--easyrealestate-bg);
                    border-radius: var(--wp--custom--border-radius--medium);
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                    padding: 1rem;

                    h2 {
                        margin: 0 0 .5rem;
                        font-size: var(--wp--preset--font-size--medium);
                    }

                    p {
                        margin: 0;
                        font-size: var(--wp--preset--font-size--small);
                    }
                }
            }
        }

        .easyrealestate-app-list {
            display: flex;
            flex-direction: column;

            .easyrealestate-app-list-items-container {
                flex: 1;
                position: relative;

                .easyrealestate-app-list-items {
                    position: absolute;
                    inset: 0;
                    overflow-y: scroll;

                    // Hide scrollbar
                    &::-webkit-scrollbar {
                        display: none;
                    }

                    padding: 1rem 0;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    .easyrealestate-app-list-item {
                        display: flex;
                        flex-direction: column;
                        border-bottom: 1px solid var(--wp--preset--color--border);
                        background-color: var(--wp--preset--color--white);
                        border-radius: var(--wp--custom--border-radius--large);
                        padding: .5rem;

                        .easyrealestate-app-list-item-image {
                            position: relative;
                            aspect-ratio: 3/2;
                            overflow: hidden;
                            border-radius: var(--wp--custom--border-radius--medium);

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }

                            .easyrealestate-app-list-item-details-available {
                                position: absolute;
                                top: .5rem;
                                right: .5rem;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                background-color: var(--wp--preset--color--easyrealestate-primary);
                                padding: .25rem .5rem .25rem 0.25rem;
                                border-radius: var(--wp--custom--border-radius--medium);
                                border: 1px solid var(--wp--preset--color--easyrealestate-primary-dark);
                                font-size: var(--wp--preset--font-size--small);
                                font-weight: 600;
                            }
                        }

                        .easyrealestate-app-list-item-details {
                            flex: 1;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            padding: 1rem 0 0;

                            h3 {
                                font-size: 1.125rem;
                            }

                            p {
                                margin: 0;
                                margin-bottom: 1rem;
                                font-size: var(--wp--preset--font-size--small);
                                color: var(--wp--preset--color--easyrealestate-text-light);
                            }

                            .easyrealestate-app-list-item-details-features {
                                display: flex;
                                flex-wrap: wrap;
                                gap: 0.5rem;

                                .easyrealestate-app-list-item-details-feature-item {
                                    display: flex;
                                    align-items: center;
                                    gap: 0.5rem;
                                    background-color: var(--wp--preset--color--easyrealestate-bg-light);
                                    border-radius: var(--wp--custom--border-radius--medium);
                                    padding: 0.5rem 0.5rem;
                                    font-size: var(--wp--preset--font-size--small);
                                    color: var(--wp--preset--color--easyrealestate-text);
                                    font-size: var(--wp--preset--font-size--small);
                                    font-weight: 600;

                                }
                            }
                        }
                    }

                    @media screen and (min-width: 768px) {
                        .easyrealestate-app-list-item {
                            flex-direction: row;

                            .easyrealestate-app-list-item-image {
                                width: 300px;

                                .easyrealestate-app-list-item-details-available {
                                    left: .5rem;
                                    right: auto;
                                }
                            }

                            .easyrealestate-app-list-item-details {
                                padding-left: 1rem;
                                padding-top: .5rem;

                                h3 {
                                    font-size: 1.5rem;
                                }

                                .easyrealestate-app-list-item-details-features {
                                    gap: 1rem;

                                    .easyrealestate-app-list-item-details-feature-item {
                                        font-size: var(--wp--preset--font-size--medium);
                                    }
                                }
                            }
                        }
                    }

                    @media screen and (min-width: 1024px) {
                        .easyrealestate-app-list-item {
                            .easyrealestate-app-list-item-image {
                                width: 200px;
                            }

                            .easyrealestate-app-list-item-details {
                                padding-left: 1rem;

                            }
                        }
                    }

                    @media screen and (min-width: 1320px) {
                        .easyrealestate-app-list-item {
                            .easyrealestate-app-list-item-image {
                                width: 300px;
                            }

                            .easyrealestate-app-list-item-details {
                                padding-left: 1rem;

                                h3 {
                                    font-size: 1.75rem;
                                }

                                p {
                                    font-size: var(--wp--preset--font-size--medium);
                                }
                            }
                        }
                    }

                }
            }
        }

    }

    .easyrealestate-app-view-toggle {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (min-width: 1024px) {
    .easyrealestate-app-container {
        .easyrealestate-app-content {

            &.easyrealestate-app-content-show-list {
                transform: translateX(0);
            }

            .easyrealestate-app-map,
            .easyrealestate-app-list {
                min-width: 50%;
                padding: 1rem;
            }

        }
    }
}