.easyrealestate-app-map {
    position: absolute;
    inset: 0;

    .map {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;

        .easyrealestate-app-marker-layout {
            background-color: var(--wp--preset--color--easyrealestate-primary);
            padding: 1rem;
            border-radius: var(--wp--custom--border-radius--pill);

            .easyrealestate-app-marker-content {
                display: flex;
                flex-direction: column;
                align-items: center;

                svg {
                    width: 24px;
                    height: 24px;
                    color: var(--wp--preset--color--white);
                }
            }

            &.easyrealestate-app-marker-layout-active {
                background-color: var(--wp--preset--color--easyrealestate-accent);
                color: var(--wp--preset--color--easyrealestate-bg);
                z-index: 100;

                .easyrealestate-app-marker-content {
                    svg {
                        color: var(--wp--preset--color--easyrealestate-primary);
                    }
                }
            }

            .easyrealestate-app-marker-title {
                font-weight: 600;
                font-size: 1.125rem;
            }
        }

        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        position: relative;

        .map-overlay {
            position: absolute;
            inset: 0;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;

            .map-no-cookies {
                background-color: var(--wp--preset--color--white);
                border-radius: var(--wp--custom--border-radius--medium);
                padding: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                max-width: 450px;

                p {
                    margin: 0;
                    margin-bottom: 1rem;
                    font-size: var(--wp--preset--font-size--medium);
                    color: var(--wp--preset--color--easyrealestate-text);
                    font-weight: 700;
                    text-align: center;
                }

                .map-accept-cookies-button {
                    cursor: pointer;
                }
            }
        }
    }

    .easyrealestate-app-map-infobox {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%) translateY(20px);
        width: 100%;
        max-width: 500px;
        padding: 1rem;
        opacity: 0;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        pointer-events: none;

        &.easyrealestate-app-map-infobox-visible {
            opacity: 1;
            transform: translateX(-50%) translateY(0);
            pointer-events: auto;
        }

        .easyrealestate-app-list-item {
            flex-direction: column;
            background-color: var(--wp--preset--color--white);
            padding: .5rem;

            .easyrealestate-app-list-item-image {
                width: 100%;
                border-radius: var(--wp--custom--border-radius--medium);

                &:hover {
                    box-shadow: none;
                    scale: 1;
                }

                .easyrealestate-app-map-infobox-close-btn {
                    position: absolute;
                    top: .5rem;
                    right: .5rem;
                    line-height: 1;
                    color: var(--wp--preset--color--easyrealestate-text);
                    cursor: pointer;
                    background-color: var(--wp--preset--color--easyrealestate-bg-light);
                    border-radius: var(--wp--custom--border-radius--pill);
                    border: 1px solid var(--wp--preset--color--easyrealestate-primary-dark);
                    font-size: var(--wp--preset--font-size--medium);
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 2rem;
                    height: 2rem;
                }
            }

            .easyrealestate-app-list-item-details {
                padding: .5rem 0 0;
            }
        }
    }

    @media screen and (min-width: 1024px) {
         .easyrealestate-app-map-infobox {
            max-width: 400px;

            .easyrealestate-app-list-item {
                .easyrealestate-app-list-item-image {
                    aspect-ratio: 2 / 1;
                }
            }
         }
    }

    @media screen and (min-width: 1320px) {
         .easyrealestate-app-map-infobox {
            max-width: 500px;

            .easyrealestate-app-list-item {
                .easyrealestate-app-list-item-image {
                    aspect-ratio: 3 / 2;
                }
            }
         }
    }

    
}