:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    box-sizing: border-box;
  }
}

@media screen and (max-width: 782px) {
  html {
    --wp-admin--admin-bar--height: 0px;
    margin: 0 !important;

    #wpadminbar {
      display: none;
    }
  }

}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import './styles/easyrealestate-global';